{% extends "base.html" %}
{% block title %} DashBoard {% endblock %}
{% block content %}
<header>
    <h1>Suministros Informáticos Dashboard</h1>
</header>
<div class="container">
    <div class="welcome-message">
        ¡Hola, {{context.user.nombre}} estás logueado!
    </div>
    <div style="text-align: center;">
        <img src="{{ url_for('static', filename='logo.jpg')}}" alt="Suministros informaticos kev" width="120">
    </div>
    <div>
        <h2>Productos Disponibles</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Color</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {%for producto in context.productos%}
              <tr>
                <th scope="row">1</th>
                <td>{{producto.nombre}}</td>
                <td>${{producto.precio}}</td>
                <td>{{producto.color}}</td>
                <td><a href="/del-product/{{producto.id}}">x</a></td>
              </tr>
                {%endfor%}
            </tbody>
          </table>
        <ul>
        </ul>
    </div>
    <div style="text-align: center;">
        <button class="logout-button" onclick="logout()">Logout</button>
    </div>
    <div style="text-align: center;">
        <a href="/form-product">Agrega un producto</a>
    </div>
</div>
<script>
    function logout() {
        // Cambia la URL de redirección si es necesario
        window.location.pathname = '/logout';
    }
</script>
{% endblock %}