{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    <h1>Suministros Informáticos</h1>
    <p class="highlight">¡Descubre el mundo de la tecnología!</p>
    <p>Bienvenido(a) a nuestra página web de suministros informáticos, tu destino en línea para encontrar todo lo que necesitas en el mundo de la tecnología. Aquí encontrarás una amplia gama de productos y accesorios informáticos de última generación, diseñados para satisfacer tus necesidades tanto en el ámbito personal como profesional.</p>
    <p>Desde componentes de hardware, como procesadores, tarjetas gráficas y discos duros, hasta periféricos esenciales, como teclados, ratones y monitores, nuestra tienda en línea ofrece una extensa selección de productos de alta calidad de los principales fabricantes del mercado. Además, también contamos con una variedad de software y programas que te ayudarán a maximizar el rendimiento y la eficiencia de tus dispositivos.</p>
    <div class="feature">
        <!-- <img src="https://example.com/feature-image.jpg" alt="Feature Image"> -->
        <p class="quote">"La mejor tienda en línea para tus necesidades tecnológicas"</p>
        <p class="highlight">- Cliente satisfecho</p>
    </div>
    <p>Nos enorgullece ofrecer no solo productos de calidad, sino también un excelente servicio al cliente. Nuestro equipo de expertos en tecnología está disponible para brindarte asesoramiento y orientación, ayudándote a tomar decisiones informadas y encontrar los productos más adecuados para tus necesidades específicas.</p>
    <p class="highlight">¡Explora nuestro catálogo y lleva tu experiencia tecnológica al siguiente nivel!</p>
    <div class="testimonial">
        <img src="https://example.com/testimonial-avatar.jpg" alt="Testimonial Avatar">
        <p>"Esta tienda tiene todo lo que necesito y más. ¡Altamente recomendado!"</p>
    </div>
    <div class="login-section">
        <p>¿Ya eres usuario?</p>
        <a href="/login" class="boton-primario">Iniciar sesión</a>
        <p>¿Aún no tienes cuenta?</p>
        <a href="/registrar">Registrarse</a>
    </div>
</div>
{% endblock %}