{% extends "base.html" %}
{% block title%} Login {% endblock %}
{% block content %}
<div class="container">
    <a href="/" class="btn btn-primary mt-5" role="button">Home</a>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="mb-4">
          <label for="emailControl" class="form-label">Email address</label>
          <input type="email" name="emailControl" class="form-control" id="emailControl" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-4">
          <label for="passwordControl" class="form-label">Password</label>
          <input type="password" name="passwordControl" class="form-control" id="passwordControl" required>
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" class="form-check-input" id="checkboxControl" required>
          <label class="form-check-label" for="checkboxControl">Acepta las condiciones de servicio</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock content %}