{% extends 'base.html' %}

{% block title %} Lista de Pedidos {% endblock title%}
{% block content %}
<header>
    <h1>Suministros Informáticos Pedidos</h1>
</header>
<div class="container">
    <div class="welcome-message">
        ¡Hola, {{context.user.nombre}}!
    </div>
    <div style="text-align: center;">
        <img src="{{ url_for('static', filename='logo.jpg')}}" alt="Suministros informaticos kev" width="120">
    </div>
    <div>
        <h2>Lista de Pedidos</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Peso</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {%for proveedor in context.pedidos%}
              <tr>
                <th scope="row">1</th>
                <td>{{proveedor.producto}}</td>
                <td>${{proveedor.user}}</td>
                <td>{{proveedor.peso}}</td>
                <td>{{proveedor.quantity}}</td>
                <td><a href="/del-providers/{{proveedor.id}}">x</a></td>
              </tr>
                {%endfor%}
            </tbody>
          </table>
        <ul>
        </ul>
    </div>
    <div style="text-align: center;">
        <button class="logout-button" onclick="logout()">Logout</button>
    </div>
    <div style="text-align: center;">
        <a href="/add-pedido">Agrega un Pedidos</a>
    </div>
</div>
<script>
    function logout() {
        // Cambia la URL de redirección si es necesario
        window.location.pathname = '/logout';
    }
</script>

{% endblock %}