{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% block content %}
    <div class="container">
        <a href="/" class="btn btn-primary mt-3" role="button" >Home</a>
        <h1>Registrar</h1>
        <form action="/registrar" method="post">
          <div class="mb-3">
            <label for="nameControl" class="form-label">Nombre</label>
            <input type="text" name="nameControl" class="form-control" id="nameControl" required>
          </div>
          <div class="mb-3">
            <label for="apellidoControl" class="form-label">Apellido</label>
            <input type="text" name="apellidoControl" class="form-control" id="apellidoControl" required>
          </div>
          <div class="mb-3">
            <label for="emailControl" class="form-label">Email</label>
            <input type="email" name="emailControl" class="form-control" id="emailControl" required>
          </div>
            <div class="mb-3">
              <label for="telefonoControl" class="form-label">Telefono</label>
              <input type="tel" class="form-control" name="telefonoControl" id="telefonoControl" aria-describedby="emailHelp" required>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="direccionControl" class="form-label">Direccion</label>
              <input type="text" class="form-control" name="direccionControl" id="direccionControl" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="passwordControl" name="passwordControl" class="form-label">Password</label>
              <input type="password" class="form-control" name="passwordControl" id="passwordControl" required>
            </div>
            <div class="mb-3">
              <label for="repeatPasswordControl" class="form-label">Repeat Password</label>
              <input type="password" class="form-control" name="repeatPasswordControl" id="repeatPasswordControl" required>
            </div>
            <div class="mb-3">
              <label for="adminControl" class="form-label">Es Admin?</label>
              <input type="checkbox" class="" name="adminControl" id="adminControl">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
{% endblock %}